@import url('https://fonts.googleapis.com/css?family=PT+Serif:100,200,300,400,500,600,700|Playfair+Display:100,200,300,400,500,600,700|Mansalva:100,200,300,400');

body {
    width: 100%;
    height: 100%;
    font-family: "PT Serif", sans-serif;
    background-color: rgba(169, 144, 157, 0.2);
    font-weight: 400;

}

/*------ NavBar ------------*/

.navbar {
    transition: all .5s ease-in-out;
    /* background-color: #f3f4ef;*/
}

.scroll {
    background-color: #f3f4efc7;
}


.navbar-light .navbar-brand {
    color: #c17008;
}

.navbar-brand {
    font-family: "Mansalva", sans-serif;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar .navbar-nav .nav-link {
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.64);

}


/*---- SEARCH BUTTON ----*/

.form-inline .searchButton {
    border-radius: 100px;
    height: 40px;
    width: 130px;

}


#searchButton {
    color: rgba(0, 0, 0, 0.64);
    background-color: #f5f5dc00;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin-left: -40px;
}

.form-inline .fa {
    color: #212529b0;
}

.borderColor {
    border-color: grey;
}


.navbar-collapse {
    text-align: right;
    display: block;


}

/*-----------NAVBAR - MOBILE VERSION ------------*/

.navbar-toggler {
    line-height: 1;
    background-color: #f8f9fa7a;
    border: 1px solid #fafaf8;
    border-radius: .25rem;
}

.navbar-collapse .form-inline {
    padding-left: 250px;
}


/*------Homepage ------------*/

.homepageContainer {
    height: 100vh;
    width: 100vw;
    background: url(../img/imgHp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--------Jumbotron-----------*/

/*.jumbotron {
    background-color: transparent;
    margin-right: 0px;
    margin-top: 40%;
}

.mainHeading {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 80px;
    font-family: -webkit-pictograph;
    color: #c17008;
    font-weight: bold;
}

.lead {
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
}

.btnMain {
    background-color: #da7c2063;
    border-color: #ff5a0096;
    margin-top: 30px;
    color: #212529b0;
    font-weight: bold;
    border-radius: 15px;
}
*/


/*-------- Card ---------------*/

/*
.destinationsContainer {
    width: 100vw;
    background: url(../img/hpImg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #f6f4f5;
    position: relative;
}

.destinationCards {
    display: inline-table;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 35px;
}

.card {
    background-color: #fdfdfd;
    border-radius: 2.5%;
    width: 18rem;
    height: 14em;
    top: 50%;
    margin: 15% auto;
    align-items: center;
    z-index: 2;
    display: block;
    opacity: 0.9;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}


.card-title a{
    color: #343a40;
    font-family: "PT Serif", sans-serif;
    text-align: center;
}

.card-body {
    height: 200px;

}

.card-body .row {
    text-align: center;
    padding-top: 10px;
}

*/

/*-------------------------DESTINATIONS---------------------*/

.destinationsContainer {
    width: 100vw;
    background: url(../img/spainImg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding-bottom: 30px;

}

#map {
    min-height: 360px;
}

/*Heading - Paragraph*/

.destinationsHeader {
    margin-left: 5px;
    margin-bottom: 30px;
    padding-top: 60px;
    color: #c17008;
    background-color: #f3eff475;
    text-align: center;
}


p {
    margin-bottom: 20px;
    margin-top: 20px;
}

.mainText {
    color: #583a34;
    font-weight: 400;
}


/*--------Sort Button------------*/

.dropdown .btn {
    background-color: transparent;
    border-color: #c17008;
    color: #cd8d3c;
}


.btn:focus {
    box-shadow: none;
}

.dropdown-menu {
    background-color: #efe0d9fc;
}

/*-------------Index.html - Cards-----------*/

.destinationsContainer {
    color: #e68a14;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
}



/*----------topDestinations.html - Cards----------*/

.topDestinationsContainer {
    padding-top: 20px;
    margin-top: 30px;

}

/*.countriesCards .citiesCards {
    display: inline-table;
    justify-content: center;
    align-items: center;
}
*/

.titleHeader {
    font-family: "Playfair Display", sans-serif;
    color: #c17008;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 60px;
    padding-left: 0px;
    margin-left: 0px;

}



.topDestinationsContainer .card-title {
    color: #e68a14;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
}


/*Icons*/

.iconsBox {
    text-align: center;
}

.topDestinationsContainer a {
    padding-right: 10px;
}


i {
    display: inline-block;
    font-size: 20px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding-top: 12.5px;
    background-color: #c17008;
    margin: 10px 0 10px 10px;
}

.fa {
    color: beige;
    text-align: center;
    font-size: 20px;
}


/*-----------JS - CARDS----------------- */

.highLight {
    font-weight: bold;
}

.changeColor {
    background-color: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out .2s;
}

/* ----------Travel Inspiration Container --------- */

.inspirationsContainer {
    /* width: 100vw;
    background: url(../img/spainImg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;*/
    padding-top: 100px;
    padding-bottom: 100px;

}


/*#travelInspirationCarousel{
    margin-bottom: 50px;
    max-width: 1000px;
    position: relative;
    margin: auto;
}*/

#inspirationsHeader {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.25;
    max-width: 100%;
    margin-bottom: 50px;
    color: #c17008;
}

.titleSep {
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 24px;
    width: 30px;
    background-color: #c3c3c1;
}

.carousel-caption {
    padding-bottom: 5px;
}

.carousel-indicators li {
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff6b;
}




/*------------------ MEDIA QUERRIES--------------*/

@media (max-width: 575px) {
    .titleHeader h2 {
        font-size: 1.5rem;
    }
}

@media (min-width:768px) {
    .titleHeader {
        margin-right: 200px;
    }
    .jumbotron {
        margin-right: 200px;
    }
    .mainHeading {
        font-size: 50px;
    }
    .lead {
        font-size: 30px;
    }
    p {
        font-size: 30px;
    }
    .navbar-collapse .form-inline {
        margin-left: 10px;
        margin-right: 0px;
    }
    .carousel-caption {
        padding-bottom: 15px;
    }

}

@media (min-width:1025px) {
    .titleHeader {
        margin-right: 200px;
    }
    .jumbotron {
        margin-right: 200px;
        margin-top: 10%;
    }
}

@media (min-width:1023px) and (max-width:1367px) {
    i {
        margin: 0px;
    }
    .navbar .navbar-nav .nav-link {
        letter-spacing: 0px;
    }
    h5 {
        font-size: 1rem;
    }
}

@media (min-width:767px) and (max-width:1025px) {
    .navbar .navbar-nav .nav-link {
        letter-spacing: 0px;
    }
}

@media (min-width:359px) and (max-width:651px) {
    .navbar-collapse .form-inline {
        padding-left: 200px;
    }
}

@media (min-width:319px) and (max-width:569px) {
    .navbar-collapse .form-inline {
        padding-left: 165px;
    }


    h4 {
        font-size: 1.2rem;
        margin-bottom: 1px;
    }
    .carousel-indicators {
        margin-bottom: 5px;
    }
}


/*----------------FORM-----------------*/
 .homepageContainer .formSection{
    padding-top: 80px;
    left: 0;
    right: 0;
}
 
.bookingForm{
    background-color: #ffffffa1;
    max-width: 768px;
    width: 100%;
    margin: auto;
    padding-right:30px;
    padding-left:30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
}

.formHeader{
    text-align: center;
    margin-bottom: 20px;
}

.bookingForm .formHeader h2{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 38px;
    color: #775124;
    margin-top: 0;
    margin-bottom: 0px;
}

.bookingForm .groupForm{
  margin-bottom: 5px;
}

.bookingForm .formLabel{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
    display: inline-block;
    color: #c99552;
    text-transform: capitalize;
}

.bookingForm .formControl{
   background-color: #fff;
   width: 100%;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid #e1e1e1;
    box-shadow: none;
    border-radius: 3px;
    color: #6b6b6d;
    font-size: 14px;
}

.formBtn .submit{
    color: #fff;
    background-color: #c99552;
    font-weight: 700;
    height: 50px;
    border: none;
    display: block;
    font-size: 14px;
    width: 100%;
    text-transform: capitalize;
    border-radius: 3px;
}