@import url('https://fonts.googleapis.com/css?family=PT+Serif:100,200,300,400,500,600,700|Playfair+Display:100,200,300,400,500,600,700|Mansalva:100,200,300,400');

body {
    width: 100%;
    height: 100%;
    font-family: "PT Serif", sans-serif;
    background-color: rgba(169, 144, 157, 0.2);
    font-weight: 400;

}

/*------ NavBar ------------*/

.navbar {
    transition: all .5s ease-in-out;
    /* background-color: #f3f4ef;*/
}

.scroll {
    background-color: #f3f4ef;
}


.navbar-light .navbar-brand {
    color: #c17008;
}

.navbar-brand {
    font-family: "Mansalva", sans-serif;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar .navbar-nav .nav-link {
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;

}

.form-inline .searchButton {
    border-radius: 100px;
    height: 40px;
    width: 130px;
    background-color:#f5f5dc78;
}

#searchButton {
    background-color: #f5f5dc00;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin-left: -40px;
}

.form-inline .fa {
    color:#212529b0;
}

.borderColor{
    border-color: grey;
}

/*------Homepage ------------*/

.homepageContainer {
    height: 100vh;
    width: 100vw;
    background: url(../img/imgHp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--------Jumbotron-----------*/

.jumbotron {
    background-color: transparent;
    margin-right: 200px;
}



.mainHeading {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 80px;
    font-family: -webkit-pictograph;
    color: #c17008;
    font-weight: bold;
}

.lead {
    color: rgba(0, 0, 0, .5);
    /*#544b45;*/
    font-weight: 600;
}

.btnMain {
    background-color: #da7c2063;
    border-color: #ff5a0096;
    margin-top: 30px;
    color: #212529b0;
    /* or ;#e1e1e1 */
    font-weight: bold;
    border-radius: 15px;
}



/*-------- Card ---------------*/

/*
.destinationsContainer {
    width: 100vw;
    background: url(../img/hpImg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #f6f4f5;
    position: relative;
}

.destinationCards {
    display: inline-table;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 35px;
}

.card {
    background-color: #fdfdfd;
    border-radius: 2.5%;
    width: 18rem;
    height: 14em;
    top: 50%;
    margin: 15% auto;
    align-items: center;
    z-index: 2;
    display: block;
    opacity: 0.9;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}


.card-title a{
    color: #343a40;
    font-family: "PT Serif", sans-serif;
    text-align: center;
}

.card-body {
    height: 200px;

}

.card-body .row {
    text-align: center;
    padding-top: 10px;
}

*/

/*-------------------------DESTINATIONS---------------------*/

.destinationsContainer {
    width: 100vw;
    background: url(../img/imgEurope/spainImg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.mainHeader {
    margin-left: 5px;
    padding-top: 20px;
    color: #c17008;
    background-color: #f3f4ef;
}

.countriesCards {
    display: inline-table;
    justify-content: center;
    align-items: center;
}


.titleHeader {
    font-family: "Playfair Display", sans-serif;
    color: #c17008;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 70px;
    margin-left: 150px;
    margin-right: 200px;
}

.destinationsContainer .card-title {
    color: #e68a14;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
}


.highLight {
    font-weight: bold;
}

.iconsBox {
    text-align: center;
}

a {
    padding-right: 10px;
}


i {
    display: inline-block;
    font-size: 20px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding-top: 12.5px;
    background-color: #c17008;
    margin: 10px 0 10px 10px;
}

.fa {
    color: beige;
    text-align: center;
    font-size: 20px;
}


.changeColor {
    background-color: rgba(0, 0, 0, .5);
    ;
    transition: all .2s ease-in-out .2s;

}





/*
.form-inline{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 25px 0 #14a0ed, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
}
.form-inline{
    font-family: 'Inconsolata', monospace;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 20px 10px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
     background-color: white; 
    transition: all 1s; 
     opacity: 0; 
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.form-inline:hover{
      cursor: pointer;
    
}

.form-inline:before{
     content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
}

.form-inline:after{
    content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
}
*/
